<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js" type="text/javascript"></script>
<script>
var startDate = moment("10-21-2013");
    alert("I started at Wellbe " + startDate.fromNow());

</script>
<div id="timeyWimey"></div>