<% tracker = current_user.episode_trackers.where(episode_id: seasons.id).first %>
<div id="episode_form">
  <% if !tracker.nil? %>
    <% if tracker.watched %> 
      <%= render 'watched_episode' %>
      <i class="icon-ok"></i> 
    <% else %>
      <%= render 'unwatched_episode' %>
      <i class="icon-ban-circle"></i>
    <% end %>
  <% end %>
</div>

