<% provide(:title, @title)%>
<div class="row">
  <aside class="span2 info-box">
      <p>
        Release Date: <%= @release_date %>
      </p>
      <p>
        Release Status: <%= @status %>
      </p>
      <p>
        
      </p>
    <%= render 'follow_movie_form' if signed_in? %>
  </aside><!-- <aside class="span4"> -->
  <div class="span7">
    <section>
      <h3>
        Overview
      </h3>
      <div id="overview">
      	<p>
          <%= @overview %>
        </p>
      </div><!-- overview -->
    </section>
  </div> <!-- <div class="span8"> -->
</div><!-- <div class="row"> -->