      
<%= form_for(current_user.episode_trackers.find_by_episode_id($curr_episode.id), remote: true) do |f| %>
  <div><%= f.hidden_field :episode_id %></div>
  <%= button_tag( class: "btn btn-success") do %>
    <i class="icon-ok icon-white"></i>
  <% end %>
<% end %>