<% @user ||= current_user %>
<div class="stats">
  <a href="<%= user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.followed_shows.count %>
    </strong>
    <% if @user.followed_shows.count > 1 %>
      TV Shows Followed
    <% else %>
      TV Show Followed
    <% end %>
  </a>
</div>