<footer class="footer">
  <small>
  	<%= Time.now.year %> Revoot Media
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Blog",    '#' %></li>
    </ul>
  </nav>
</footer>